* {
  padding: 0;
  margin: 0;
}

.corpo-cartas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-width: 55vh;
  flex-wrap: wrap;
}

.container-cartas {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

#btn-pedir-um {
  background-image: linear-gradient(45deg,grey,white,grey);
  margin-top: 5px;
}

#btn-passar-um {
  background-image: linear-gradient(45deg,grey,white,grey);
  margin-top: 3px;
}

#btn-pedir-dois {
  background-image: linear-gradient(45deg,grey,white,grey);
  margin-top: 5px;
}

#btn-passar-dois {
  background-image: linear-gradient(45deg,grey,white,grey);
  margin-top: 3px;
}

.pontos-jogador  {
  background-image: linear-gradient(45deg, red, black, red, black, red);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;

  /* Adicionado: */
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
}