* {
  padding: 0;
  margin: 0;
}

.corpo-cartas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-width: 55vh;
  flex-wrap: wrap;
}

.container-cartas {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
